<?xml version="1.0"?>
<launch>

   <node pkg="lidar_lacan" name="talker" type="talker.py" output="screen">
      <param name="laser_frame" value="scanner" />
      <param name="scan_topic" value="scan" />
      <param name="device" value="/dev/ttyACM0" />
      <param name="baud" value="115200" />
   </node>

	<node type="rviz" name="rviz" pkg="rviz" args="-d $(find lidar_laccan)/rviz/laser.rviz" />
</launch>
